<div class="title-panel" >
    <div class="title-panel__background-image"></div>
    <div class="title-panel__content">
      <h1 class="title-panel__title">Discover the world</h1>
      <h2 class="title-panel__title--big">{{bigTitle}}</h2>
      <p class="title-panel__description">Let us take you on a journey to discover the world's hidden gems, immerse yourself in new cultures, and create unforgettable memories. Our passion for travel and attention to detail ensures that every trip with us is an adventure of a lifetime.</p>
      <button class="title-panel__button" (click)="discoverNow()">Discover Now</button>
    </div>
  </div>
  