.city-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .city-card {
    margin: 1rem;
  }

  .title-panel{
    margin-top: 50px;
    margin-bottom: 50px;
    color: brown;
    opacity:80%;
    text-align: center;
    text-decoration:underline 1px;
    text-underline-position: under;
  }

  .panel{
    background-color: rgb(231, 247, 231);
  }