.service-panel {
    background-color: brown;
    opacity: 80%;
    background-size: cover;
    padding: 50px;
    text-align: center;
    margin-top: 60px;
    margin-left: 90px;
    margin-bottom: 60px;
    margin-right: 90px;
    .title {
      font-size: 36px;
      margin-bottom: 50px;
      color: white;
      text-decoration:underline 1px;
      text-underline-position: under;
    }
  
    .services {
      display: flex;
  
      .left, .right {
        flex: 1;
      }
  
      .service {
        margin-bottom: 50px;
  
        h3 {
          font-size: 24px;
          margin-bottom: 10px;
          color: white;
        }
  
        p {
          font-size: 16px;
          color: white;
        }
      }
    }
  }
  